{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<center>
<h4>{% trans 'Uploaded Files' %}</h4>
{% csrf_token %}



{% block pagination %}


{% if files_list %}
<table class="table table-hover table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>File Name</th>
        <th>Created On</th>
        <th>Download</th>
        <th>Delete</th>
    </tr>

    {% for doc in files_list %}
    <tr>
        <td>
            {{ doc.id }}
        </td>
        <td>
            {{ doc.name }}
        </td>
            <td>
            {{ doc.created_at }}
        </td>
        <td>
            <a href="{% url 'accounts:details' doc.id %}" class="btn btn-primary">Download</a>
        </td> <td>
            <a href="{% url 'accounts:details' doc.id %}" class="btn btn-danger">Delete</a>
        </td>
    </tr>




    {% endfor %}
</table>

{% else %}
<p>No Files are available.</p>

{% endif %}
{% if is_paginated %}
<center><div>
      <span class="page-links">
 {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</a>
        {% endif %}
        <span class="page-current">
          <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p >
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-primary">Next</a>
        {% endif %}
      </span>
</div>
{% endif %}
{% endblock%}
    </center>
{% endblock %}